body {
    font-family: Arial, serif;
}

.logincontents {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin-bottom: 100px;
}

.loginborder {
    display: flex;
    flex-direction: column;
    border-style: solid;
    border-color: gray;
    gap: 20px 0px;
    width: 200px;
    justify-items: center;
    align-items: center;
    padding: 20px;
    border-radius: 20px;
}


label {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    width: 320px;
    line-height: 26px;
    margin-bottom: 10px;
}

input {
    height: 20px;
    flex: 0 140px;
    margin-left: 10px;
}

.addnewform {
    padding-top: 10px;
    width: 340px;
    background-color: rgba(255, 172, 65, 0.42);
    border-style: solid;
    border-color: gray;
    margin: 10px;
}

.addnewform label select {
    flex: 0 150px;
    margin-left: 10px;
}

.updatedeleteform {
    padding-top: 10px;
    width: 340px;
    background-color: rgba(255, 172, 65, 0.42);
    border-style: solid;
    border-color: gray;
    margin: 10px;
}

.updatedeletecontainer {
    display: flex;
    justify-content: flex-end;
}

.updatedeleteitem {
    margin: 10px;
}

.mainscreenselectfirstpersonlistmap {
    display: flex;
    flex-direction: column;
}

.selectfirstfullwidth {
    display: flex;
    justify-content: center;
}

.selectfirst {
    background-color: rgba(255, 172, 65, 0.42);
    display: flex;
    border-top: solid black 3px;
    border-left: solid black 3px;
    border-right: solid black 3px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.selectfirstbutton {
    margin: 10px 20px;
}

.mainscreenpersonlistmap {
    display: flex;
    justify-content: center;
}

.mainscreenpersonlistmapcenter {
    display: flex;
    background-color: rgba(255, 172, 65, 0.42);
    border-style: solid;
    border-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.mainscreenpersonlist {
    display: flex;
    flex-direction: column;
}

.mainscreenmap {
    border-left: solid black;
}

.personlist {
    display: flex;
    width: 200px;
    height: 40px;
    margin: 5px;
    border: 3px solid gray;
    background-color: rgba(255, 172, 65, 0.82);
    border-radius: 10px;
    color: #ffffff;
    font-size: 20px;
    cursor: pointer;
}

.personlist:active {
    position: relative;
    top: 1px;
}

.personlist span {
    margin: auto;
}

.btns {
    background: #ffba60 linear-gradient(to bottom, #ffb25a 5%, #ff8f00 100%);
    border-radius: 10px;
    border: 1px solid #eeb44f;
    cursor: pointer;
    color: #ffffff;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-shadow: 0px 1px 0px #cc9f52;
}

.btns:hover {
    background: #fb9e25 linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
}

.btns:active {
    position: relative;
    top: 1px;
}
